.vscode/
/*.png
/.DS_Store
Website/_import/
Website/admin/storage/sessions/
Website/_generated-export/
Website/index.html.backup.*
Website/matlas01_bcig1.sql
Website/testUpload.txt
Website/upload.json
